In [3]:
import pandas as pd

In [4]:
data = {
    "The product with the lowest price": 11,
    "The best rated": 17,
    "The best seller": 21,
    "A product from one of Amazon's brand's": 17,
    "Not sure": 33
}

In [5]:
df = pd.DataFrame(
    [{"trait": k, "perc": v} for k,v in data.items()]
)

In [6]:
df

                                    trait  perc
0       The product with the lowest price    11
1                          The best rated    17
2                         The best seller    21
3  A product from one of Amazon's brand's    17
4                                Not sure    33